{% load settings %}
{% load roles %}
{% load static from staticfiles %}
{% load bool_fa %}

{% user_has_role request 'editor' as user_is_editor %}
{% user_has_role request 'section-editor' as user_is_section_editor %}
{% user_has_role request 'production' as user_is_production %}

{% if user_is_editor or user_is_production or user_is_section_editor %}
    <a class="float-right" href="{% url 'edit_metadata' article.pk %}?return={{ request.path|urlencode }}"><i
            class="fa fa-edit">&nbsp;</i>Edit Metadata</a>
{% endif %}
<h4>{{ article.title|safe }}</h4>
<table class="scroll small">
    <tr>
        <th>Section</th>
        <th>Correspondence Author</th>
        <th>Licence</th>
        <th>Language</th>
    </tr>
    <tr>
        <td>{{ article.section.name }}</td>
        {% if article.correspondence_author %}
        <td>{{ article.correspondence_author.full_name }} <a onclick="return popitup('{% url 'send_user_email_article' article.correspondence_author.pk article.pk %}')"><i class="fa fa-envelope">&nbsp;</i></a></td>
        {% else %}
        <td><i class="fa fa-warning">&nbsp;</i> This article has no correspondence_author</td>
        {% endif %}
        <td>{{ article.license.short_name }}</td>
        <td>{{ article.get_language_display }}</td>
    </tr>
    <tr>
        <th colspan="2">Started</th>
        <th colspan="2">Submitted</th>
    </tr>
    <tr>
        <td colspan="2">{{ article.date_started }}</td>
        <td colspan="2">{{ article.date_submitted }}</td>
    </tr>
    <tr>
        <th colspan="4">Abstract</th>
    </tr>
    <tr>
        <td colspan="4">{{ article.abstract|safe }}</td>
    </tr>
    <tr>
        <th colspan="4">Keywords</th>
    </tr>
    <tr>
        <td colspan="4">{% for keyword in article.keywords.all %}{{ keyword }}{% if not forloop.last %}, {% endif %}{% empty %}No keywords recorded{% endfor %}</td>
    </tr>
    {% if journal_settings.general.submission_summary %}
        <tr>
            <th colspan="4">Non Specialist Summary</th>
        </tr>
        <tr>
            <td colspan="4">
                {% if article.competing_interests %}{{ article.non_specialist_summary|safe }}
                {% else %}
                    No Summary Supplied
                {% endif %}
            </td>
        </tr>
    {% endif %}
    <tr>
        <th colspan="4">Comments to Editor</th>
    </tr>
    <tr>
        <td colspan="4">{% if article.comments_editor %}{{ article.comments_editor|linebreaksbr }}{% else %}No comments{% endif %}
        </td>
    </tr>
    {% if journal_settings.general.submission_competing_interests %}
        <tr>
            <th colspan="4">Competing Interests</th>
        </tr>
        <tr>
            <td colspan="4">
                {% if article.competing_interests %}{{ article.competing_interests|safe }}{% else %}No CI{% endif %}</td>
        </tr>
    {% endif %}
    <tr>
        <th colspan="4">Peer Reviewed?</th>
    </tr>
    <tr>
        <td colspan="4">
            This article has {{ article.completed_reviews_with_decision.count }} completed reviews.
        </td>
    </tr>
    <tr>
        <td colspan="4">
            {% if article.peer_reviewed %}This article has been marked as having been reviewed in the metadata{% else %}This article has not been marked as having been reviewed. If this article has completed reviews above this may be incorrect.{% endif %}
        </td>
    </tr>
    <tr>
        <th>First Page</th>
        <th>Last Page</th>
        <th>Page Numbers</th>
        <th>Total Pages</th>
    </tr>
    <tr>
        <td>{{ article.first_page }}</td>
        <td>{{ article.last_page }}</td>
        <td>{{ article.page_numbers }}</td>
        <td>{{ article.total_pages }}</td>
    </tr>
    <tr>
        <th colspan="4">Rights</th>
    </tr>
    <tr>
        <td colspan="4">{{ article.rights|safe }}</td>
    </tr>
    {% for field_answer in article.fieldanswer_set.all %}
        <tr>
            <th colspan="4">{{ field_answer.field.name }}</th>
        </tr>
        <tr>
            <td colspan="4">{{ field_answer.answer|safe }}</td>
        </tr>
    {% endfor %}

</table>

<div class="title-area">
    <h2>Funders</h2>

            <table class="scroll">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>FundRef ID</th>
                    <th>Grant Number</th>
                </tr>
                </thead>
                <tbody id="sortable">
                {% for funder in article.funders.all %}
                    <tr id="funder-{{ funder.pk }}">
                        <td>{{ funder.name }}</td>
                        <td>{{ funder.fundref_id }}</td>
                        <td>{{ funder.funding_id }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No funders added.</td>
                    </tr>
                {% endfor %}
            </table>

</div>

{% if article.frozenauthor_set.all %}
    <div class="title-area">
        <h2>Frozen Authors</h2>
    </div>

    <p>These records are those of the article authors frozen at the point of submission.</p>

    <table class="scroll small" id="unassigned">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Display Email Link?</th>
            <th>Primary?</th>
        </tr>
        {% for f_author in article.frozenauthor_set.all %}
            <tr>
                <td>{{ f_author.full_name }}</td>
                <td>
                    {% if f_author.author.email %}{{ f_author.author.email }}
                    <span data-tooltip tabindex="1" title="Send an email to {{ f_author.author.email }}"><a onclick="return popitup('{% url 'send_user_email' f_author.author.pk %}')"><i class="fa fa-envelope">&nbsp;</i></a></span>
                    <span data-tooltip tabindex="1" title="Account linked to author"><a href="{% url 'core_user_edit' f_author.author.pk %}"><i class="fa fa-user">&nbsp;</i></a></span>
                    {% elif f_author.email %}{{ f_author.email}}{% else %}No email address recorded.{% endif %}</td>
                <td>{{ f_author.display_email|bool_fa }}</td>
                <td>{% if f_author.author == article.correspondence_author %}
                    <i class="fa fa-check-circle" style="color: green;"></i>
                {% else %}<i class="fa fa-times-circle" style="color: red;"></i>{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<div class="title-area">
    <h2>Editors</h2>
</div>
<table id="unassigned" class="scroll small">
    <tr style="text-align: left">
        <th>Name</th>
        <th>Email</th>
        <th>Type</th>
    </tr>
    {% for assignment in article.editors %}
        <tr>
            <td>{{ assignment.editor.full_name }}</td>
            <td><a href="mailto:{{ assignment.editor.email }}">{{ assignment.editor.email }}</a></td>
            <td>{{ assignment.editor_type|capfirst }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No users assigned</td>
        </tr>
    {% endfor %}
</table>

<div class="title-area">
    <h2>Projected Issue</h2>
</div>
<div class="content">
    <table class="scroll">
        <tr>
            <th>Issue ID</th>
            <th>Issue Title</th>
            <th>Volume</th>
            <th>Number</th>
            <th>Published</th>
            <th></th>
        </tr>
        {% if article.projected_issue %}
        <tr>
            <td>{{ article.projected_issue.id }}</td>
            <td>{{ article.projected_issue.issue_title }}</td>
            <td>{{ article.projected_issue.volume }}</td>
            <td>{{ article.projected_issue.issue }}</td>
            <td>{{ article.projected_issue.date }}</td>
            <td><a href="{% url 'manage_issues_id' article.projected_issue.pk %}">Issue Manager</a></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">This article does not have a projected issue.{% if user_is_editor or request.user.is_staff %} You can <a href="{% url 'review_projected_issue' article.pk %}?return={{ request.path|urlencode }}">assign one</a>.{% endif %}</td>
        </tr>
        {% endif %}
    </table>
</div>

<div class="title-area">
    <h2>Identifiers</h2>
    <a class="button" href="{% url 'edit_identifiers' article.pk %}" target="_blank"><i class="fa fa-edit">&nbsp;</i>Edit</a>
</div>
{% setting_var request.journal 'use_crossref' as use_crossref %}
<div class="content">
    <table class="scroll">
        <tr>
            <th>ID Type</th>
            <th>Identifier</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{ article.pk }}</td>
            <td>Assigned</td>
        </tr>
        {% if use_crossref %}
            <tr>
                {% with article.get_doi as doi %}
                {% if doi %}
                    <td>DOI</td>
                    <td>{{ doi }}</td>
                    <td>
                        {% for identifier in article.identifiers %}
                            {% if identifier.identifier == doi %}
                                {% if identifier.deposit %}
                                    <a href="{% url 'poll_doi_output' article.pk identifier.pk %}">
                                    {% if identifier.deposit.success %}
                                        <i class="fa fa-check">&nbsp;</i>
                                    {% else %}
                                        <i class="fa fa-exclamation-circle">&nbsp;</i>
                                    {% endif %}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% else %}
                    <td>DOI</td>
                    <td><span class="fa fa-exclamation-triangle"> Article has no DOI</span></td>
                    <td><a href="{% url 'add_new_identifier' article.pk %}" class="button">Add DOI</a></td>
                {% endif %}
                {% endwith %}
            </tr>
        {% endif %}
    </table>
</div>

{% if files %}
    <h4>Files</h4>
    <table class="small scroll">
        <tr>
            <th>Label</th>
            <th>Filename</th>
            <th>Type</th>
            <th>Uploaded</th>
            <th>Download</th>
        </tr>
        {% for file in article.manuscript_files.all %}
            <tr>
                <td>{{ file.label }}</td>
                <td>{{ file.original_filename }}</td>
                <td>Manuscript</td>
                <td>{{ file.date_uploaded|date:"Y-m-d G:i" }}</td>
                <td><a href="{% url 'editor_file_download' article.id file.id %}"><i
                        class="fa fa-download">&nbsp;</i></a>
                </td>
            </tr>
        {% endfor %}
        {% for file in article.data_figure_files.all %}
            <tr>
                <td>{{ file.label }}</td>
                <td>{{ file.original_filename }}</td>
                <td>Data/Figure</td>
                <td>{{ file.date_uploaded|date:"Y-m-d G:i" }}</td>
                <td><a href="{% url 'editor_file_download' article.id file.id %}"><i
                        class="fa fa-download">&nbsp;</i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<script type="text/javascript" src="{% static 'admin/js/popup.js' %}"></script>
