{% load i18n roles %}
{% user_has_role request 'reader' as reader %}

<div class="row">
        <div class="col m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{% trans "Change Your Email Address" %}</span>
                    <p>{% trans "If you want to change your email address you may do so below, however, you will be logged out and your account will be marked as inactive until you follow the instructions in the verification email." %}
                        <strong>{% trans "Note:" %} </strong>
                        {% trans "Changing your email address will also change your username as these are one and the same." %}</p>
                    <form method="POST">
                        {% csrf_token %}
                        <p><strong>{% trans 'Current Email Address' %}:</strong> {{ request.user.email }}</p>
                        <div class="input-field">
                            <input type="email" name="email_address" class="form-control"
                                   placeholder="janeway@voyager.com">
                            <label for="email_address">{% trans "New Email Address" %}</label>
                        </div>
                        <button type="submit" name="email" class="btn btn-warning">{% trans "Update Email Address" %}</button>
                    </form>
                </div>
            </div>
        </div>
    <div class="col m6">
        <div class="card">
            <div class="card-content">
                {% if request.journal %}
                    <span class="card-title">{% trans "Register for Article Notifications" %}</span>
                    <form method="POST">
                        <p>
                            {% blocktrans %}Use the button below to register to receive notifications of new articles
                                published in this journal {% endblocktrans %}
                            <br/><br/>

                            {% csrf_token %}
                            {% if reader %}
                                <button name="unsubscribe" class="btn btn-warning">
                                    {% trans "Unsubscribe from Article Notifications" %}
                                </button>
                            {% else %}
                                <button name="subscribe" class="btn btn-warning">
                                    {% trans "Subscribe to Article Notifications" %}
                                </button>
                            {% endif %}

                        </p>
                    </form>
                {% endif %}
                <span class="card-title">{% trans "Data Export" %}</span>
                <p>{% trans "You may export your data into a JSON file for reuse." %}</p>
                <form method="POST">
                    {% csrf_token %}
                    <button name="export" class="btn btn-warning">{% trans "Export" %}</button>
                </form>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col m12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{% trans "Update Password" %}</span>
                    <p>{% trans "You can update your password by entering your existing password plus your new password." %}</p>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col m4">
                                <input type="password" name="current_password">
                                <label for="current_password">{% trans "Current Password" %}</label>
                            </div>
                            <div class="input-field col m4">
                                <input type="password" name="new_password_one">
                                <label for="new_password_one">{% trans "New Password" %}</label>
                            </div>
                            <div class="input-field col m4">
                                <input type="password" name="new_password_two">
                                <label for="new_password_two">{% trans "Enter Password Again" %}</label>
                            </div>
                        </div>
                        <br />
                        <button type="submit" name="change_password" class="btn btn-warning">{% trans "Update Password" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m12">
            <div class="card">
                <div class="card-content">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% include "elements/accounts/user_form.html" with form=form %}
                        <p>
                            <button type="submit" name="edit_profile" class="btn btn-primary float-right">{% trans "Update" %}
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>