{% extends "admin/core/base.html" %}
{% load static from staticfiles %}
{% load itertools %}
{% load roles %}

{% block title %}Review {{ article.title }}{% endblock %}
{% block title-section %}Peer Review{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/review_base.html" %}
{% endblock breadcrumbs %}

{% block body %}


    <div class="row expanded">
        <div class="large-8 columns">
            <div class="box">
                {% if article.stage == 'Unassigned' %}
                    <div class="bs-callout bs-callout-danger">
                        <form method="POST">
                            {% csrf_token %}
                            <p><i class="fa fa-exclamation-triangle">&nbsp;</i>{% trans 'This article is not yet in the review stage' %}.</p>
                            {% if not article.editor_list %}
                                <p>{% trans 'Before you can move this paper into review you need to' %} <a
                                        href="{% url 'review_unassigned_article' article.pk %}">{% trans 'assign an editor' %}</a>.
                                </p>
                            {% else %}
                                <button name="move_to_review" class="small success button no-bottom-margin">Move to
                                    Review
                                </button>
                            {% endif %}
                        </form>
                    </div>
                {% endif %}
                {% if journal_settings.crosscheck.enable and not article.ithenticate_id %}
                    <div class="bs-callout bs-callout-danger">
                        <p class="no-bottom-margin"><small>
                            {% trans 'This paper has not had an automatic plagiarism check. If you wish to do so you can run a' %} <a href="{% url 'review_unassigned_article' article.pk %}#files-block">{% trans 'Similarity Check via iThenticate' %}</a> .</small></p>
                    </div>
                {% endif %}

                <ul class="tabs" data-tabs id="round-tabs">
                    {% for round in review_rounds %}
                        <li class="tabs-title {% if forloop.first %} is-active{% endif %}"><a
                                href="#tab{{ round.round_number }}"
                                aria-selected="true">Round {{ round.round_number }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tabs-content" data-tabs-content="round-tabs">
                    {% for round in review_rounds %}
                        <div class="tabs-panel{% if forloop.first %} is-active{% endif %}"
                             id="tab{{ round.round_number }}">
                            <div class="content">
                                <div class="row expanded">
                                    <div class="title-area">
                                        <h2>Files</h2>
                                        {% if round.round_number == article.current_review_round %}<a
                                                href="{% url 'review_delete_review_round' article.id round.id %}"
                                                class="small button alert">Delete Round</a>
                                            <a href="{% url 'review_add_files' article.id round.id %}" class="button">Add
                                                Files</a>{% endif %}
                                    </div>
                                    <div class="row" data-equalizer data-equalize-on="medium">
                                        <p>
                                            {% blocktrans %}
                                            These files are the versions sent out to reviewers in Round {{ round.round_number }} of review.
                                            {% endblocktrans %}
                                        </p>
                                        {% for file in round.review_files.all %}
                                            <div class="large-3 columns{% if forloop.last %} end{% endif %}">
                                                <div class="callout breakdown file" data-equalizer-watch>
                                                    <div class="callout-title">
                                                        <h4>{{ file.label }}</h4>
                                                    </div>
                                                    <p>{{ file.original_filename }}</p>
                                                    <ul class="menu">
                                                        <li>
                                                            <a href="{% url 'editor_file_download' article.id file.id %}"><span
                                                                    data-tooltip aria-haspopup="true"
                                                                    class="has-tip bottom"
                                                                    data-disable-hover="false" tabindex="2"
                                                                    title="Download"><i
                                                                    class="fa fa-download action-icon">&nbsp;</i></span></a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'review_remove_file' article.id round.id file.id %}"><span
                                                                    data-tooltip aria-haspopup="true"
                                                                    class="has-tip bottom"
                                                                    data-disable-hover="false" tabindex="2"
                                                                    title="Remove"><i class="fa fa-trash action-icon">&nbsp;</i></span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        {% empty %}
                                            <div class="large-3 columns{% if forloop.last %} end{% endif %}">
                                                <div class="callout breakdown file" data-equalizer-watch>
                                                    <div class="callout-title">
                                                        <h4>No Review Files</h4>
                                                    </div>
                                                    <p>Click "Add Files" to select files for review.</p>

                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="title-area">
                                    <h2>Reviewers</h2>
                                    {% if round.round_number == article.current_review_round %}
                                        <a href="{% url 'review_add_review_assignment' article.id %}" class="button">Add
                                            Reviewer</a>{% endif %}
                                </div>

                                {% chain round.active_reviews round.inactive_reviews as reviews %}
                                {% for review in reviews %}
                                    {# TODO: Upgrade to foundation 6.4+ where overflowing dropdown menus are fixed #}
                                  {% if forloop.last and forloop.counter > 2 %}
                                    {% include "admin/elements/review/review_block.html" with review=review dropdown='top' %}
                                  {% else %}
                                    {% include "admin/elements/review/review_block.html" with review=review dropdown='right' %}
                                  {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% if revisions_requests %}
                <div class="box">
                    <div class="title-area">
                        <h2>Revision Requests</h2>
                    </div>
                    <div class="content">
                        <table class="scroll">
                            <thead>
                            <tr>
                                <th>Date Requested</th>
                                <th>Date Due</th>
                                <th>Type</th>
                                <th>Date Completed</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for revision_request in revisions_requests %}
                                <tr>
                                    <td>{{ revision_request.date_requested|date:"Y-m-d" }}</td>
                                    <td>{{ revision_request.date_due|date:"Y-m-d" }}</td>
                                    <td>{{ revision_request.get_type_display }}</td>
                                    <td>{% if revision_request.date_completed %}
                                        {{ revision_request.date_completed|date:"Y-m-d" }}{% else %}
                                        Underway{% endif %}</td>
                                    <td>
                                        {% if revision_request.date_completed %}
                                            <a class="button"
                                               href="{% url 'view_revision' article.pk revision_request.pk %}"><b>View</b></a>
                                        {% else %}
                                            <div class="button-group">
                                                <a href="{% url 'view_revision' article.pk revision_request.pk %}"
                                                   class="button">View</a>
                                                <a class="dropdown button arrow-only"
                                                   data-toggle="revision-drop-{{ revision.pk }}"><span
                                                        class="show-for-sr">Show menu</span></a>
                                            </div>
                                            <div class="dropdown-pane right" id="revision-drop-{{ revision.pk }}"
                                                 data-dropdown data-close-on-click="true">
                                                <ul class="menu vertical actions">
                                                    <li>
                                                        <a href="{% url 'edit_revision_request' article.id revision_request.pk %}"><i
                                                                class="fa fa-pencil action-icon">&nbsp;</i>Edit</a></li>
                                                    {% if request.user.is_admin %}
                                                        <li>
                                                            <a target="_blank"
                                                               href="{% url 'admin:review_revisionrequest_change' revision_request.pk %}"><span
                                                                    class="fa fa-cogs"> </span> Edit in Admin</a>
                                                        </li>
                                                    {% endif %}

                                                </ul>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="title-area">
                        <h2>Current Files</h2>
                    </div>
                    <div class="content">
                        <p>
                            <small>
                                {% blocktrans %}
                                The latest manuscript and figure files for this article. When a revision task is completed these will be updated with the latest versions from the authors.
                                {% endblocktrans %}
                            </small>
                        </p>
                        <table>
                            <tr>
                                <th>File ID</th>
                                <th colspan="2">File Name</th>
                                <th>Uploaded</th>
                                <th>Download</th>
                            </tr>
                            {% for file in article.ms_and_figure_files %}
                                <tr>
                                    <td>{{ file.pk }}</td>
                                    <td colspan="2">{{ file.original_filename }}</td>
                                    <td>{{ file.date_uploaded|date:"Y-m-d G:i" }}</td>
                                    <td>
                                        <a href="{% url 'editor_file_download' article.pk file.pk %}"><i
                                                class="fa fa-download">&nbsp;</i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}


        </div>

        <div class="large-4 columns">
            <div class="box">
                <div class="title-area">
                    <h2>Status</h2>
                </div>
                <div class="content">
                    <div class="callout warning">
                        <small>This article is currently in the {{ article.stage }} stage.
                            {% if article.stage == 'Under Review' and article.is_under_revision %} This article also has
                                active
                                Revision Requests.</small>{% endif %}
                        {% if article.date_accepted %}
                            <small>This article was accepted on {{ article.date_accepted }}</small>
                        {% elif article.date_declined %}
                            <small>This article was rejected on {{ article.date_declined }}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="title-area">
                    <h2>Steps</h2>
                </div>
                <div class="content">{{ journal_settings.general.review_steps|safe }}</div>
            </div>
            <div class="box">
                <div class="title-area">
                    <h2>Actions</h2>
                </div>
                <div class="content">{% user_has_role request 'editor' as editor %}
                    <ul class="menu vertical actions">


                        <li><a data-open="summarymodal"><i class="fa fa-server action-icon">&nbsp;</i>View Metadata</a>
                        </li>
                        <li><a href="{% url 'document_management' article.pk %}?return={{ request.path }}"><i class="fa fa-file-archive-o">&nbsp;</i>Document Management</a></li>
                    {% if article.is_accepted %}
                        <li>
                            <a href="{% url 'move_to_next_workflow_element' article.pk %}">
                                <i class="fa fa-arrow-circle-right action-icon">&nbsp;</i>
                                {% trans 'Move to Next Stage' %}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'decision_helper' article.pk %}">
                                <span class="fa fa-gavel"></span> Make a Decision
                            </a>
                        </li>
                        <li>
                            <a href="#" data-open="newround" class="expanded">
                                <i class="fa fa-plus-circle action-icon">&nbsp;</i>New Review Round
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div><!--/col-lg-12 -->
    </div>
    {% include "admin/elements/summary_modal.html" %}
    {% include "admin/elements/review/new_round_modal.html" %}
    {% include "admin/elements/move_to_next_modal.html" %}

{% endblock body %}

{% block js %}
    <script src="{% static "admin/js/modal.js" %}"></script>
    {% include "elements/notes/note_script.html" %}
    {% if article.is_accepted %}
        {% include "admin/elements/open_modal.html" with target='move_to_next_modal' %}
    {% endif %}
{% endblock js %}
